@charset "utf-8";

/* 미디어 쿼리 */


/* 1300 px */
@media screen and (max-width:1300px) {
    /* gnb위치변경 */
    .gnb{
        right: 73px;
    }
}
/* 1000 px */
@media screen and (max-width:1000px) {
    .gnb{
        bottom: auto;
    }
    .gnb ul{
        position: absolute;
        top: 10px;
        right: 0;
        width: 200px;
        display: flex;
        font-family: 'jua', sans-serif;
        flex-direction: column;
        align-items: flex-end;
        /* 처음에 안보임 */
        display: none;
    }
    .gnb:hover ul{
        display: flex;
    }
    .gnb ul>li:hover .smenu{
        display: none;
    }
}