@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.tit {
    text-align: center;
    font-size: 40px;
    font-family: "NotoSans";
    font-style: italic;
    padding: 5%;
    width: auto;
    
    
}




body {
    background: url(./images/popol1bg.jpg) no-repeat fixed center/cover;
    margin: 0 auto;
    font-family: "Lora";


    /* outline: 2px dashed red; */
}

header {
    margin: 0;
    top: 0;

    border: 0;
}

.album {
    margin: 0;
    padding: 0;
    width: 30%;
}

.menubar {
    max-width: 1200px;
    /* 최대가로크기 1200px이면
싸고 있는 박스가 이것보다 작아질 경우
auto로 자동전환되어 가로스크롤이 안생김! */
    
    margin: 0 auto;
    width: 0;
    padding: 0;
    box-sizing: border-box 90px;
    font-size: 20px;
    font-family: "궁서";
    font-style: italic;
}
.song{

}
