@charset "utf-8";
/* info Pj 서브페이지 css - sub.css/

/* 공통 클래스 불러오기 */
/* 
    import 로 파일 합치기 
    외부 css 파일에서 다른 외부 css 파일을 
    import 방싯으로 불러올때 장점은?
    html 파일에서 link 요소로 호출할 경우 
    http request(웹요청)이 많아져서 
    페이지 랜더링 속도가 더뎌진다!
    따라서 이방식을 쓰면 한번에 여러 외부 css 를
    불러올수 있어서 속도에 유리하다!
*/
/* @import url(파일주소); */
@import url(common.css);



/* 메인영역 박스 */
.main {
    /* 패딩 p 15 */
    padding: 15px;
}

/* 2-1. 언론사로고 */
.prlogo img {
    height: 32px;
}

/* 2-2. 기사제목 */
.atit {
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자체 */
    font-family: "굴림", "궁서", sans-serif;
    /* 자간 ls */
    letter-spacing: -2px;
    /* 단어사이 간격 ws */
    word-spacing: -1px;
    /* 줄바꿈 방지 whs */
    /* white-space: nowrap; */
    /* 언제 쓰나> 조금차이로 줄바꿈 되는 경우 안되게 할떄 사용함
    기본 박스는 모두 wrap박스이다.*/


}

/* 2-3. 기사사진(+사진설명) */
.afig {
    /* 마진 0 */
    margin: 15px 0;
    /* 마진 위아래 양쪽 */
    /* 컨텐츠 중앙정렬 tac */
    text-align: center;

}

/* 기사 이미지 */
.afig img {
    /* 최대 가로크기 maw100p */
    max-width: 100%;
    /* 이미지에 이설정을 하면 
    박스가 이미지보다 작아질떄
    이미지가 박스크기 맞게 작아짐 */

}

/* 기사 이미지 설명글 small */
.afig small {
    /* 글자체는 ff */
    font-family: gulim;
    /* 글자색 c */
    color: rgb(68, 48, 134);
}

/* 2-4. 기사내용 */
.arti p {
    /* 글자체 ff */
    font-family: "Nabum Gothic", "굴림";
    /* 글자크기 fz */
    font-size: 18px;
    /* 글자크기 lh */
    line-height: 1.6;
    /* 양쪽 패딩 pd */
    padding: 0 10px;

}

/* 중간 궤적수정이동 왜하나 글자표시 박스 변경 */
.arti mark {
    /* 인라인을 블록으로 전환! */
    display: block;
    /* 배경색 */
    background-color: rgb(48 114 134);
    /* 글자중앙 정렬 */
    text-align: center;
    /* 줄간격 */
    line-height: 4;
    /* 글자체 */
    font-family: 'Nanum Gothic';
    /* 글자크기 */
    font-size: 20px;
    /* 글자두꼐 */
    font-weight: bold;
    /* 보더위*/
    border-top: 2px solid #808080;
    /* 보더아래 */
    border-bottom: 2px solid #ccc;
}

/* i요소 변경 */
.arti i {
    /* 글자스타일 */
    font-style: normal;
    /* 글자 두껍게 */
    font-weight: bold;
}

/* Q요소 변경 */
.arti q {
    /* 글자색 c */
    color: darkred;
    /* 글자 두꼐 */
    font-weight: bold;
}

/* del 요소 변경 */
.arti del {
    /* 글자색 */
    color: rebeccapurple;
}




/* 2-5. 기자정보 */
.rinfo {
    padding: 10px;
    text-align: right;
    font-size: 14px;
    color: lightpink;

}

/* 2-6. 기사원문 */
.org a {
    padding: 10px;
    font-size: 20px;
    color: brown;
    text-decoration: none;
    border: 5px dashed green;
}

/* 공통박스 article */
.main article {
    border-top: 9px double #000;
    margin-top: 40px;
    padding: 15px;

}



/* 공통타이틀 h3 */
.main h3 {
    font-family: 'Black And White Picture', sans-serif;
    font-weight: normal;
    font-size: 26px;
    padding-left: 20px;

}

/* 블록 인용구 박스 */
.bquote blockquote {
    margin: 0;
    padding: 5px;
    overflow: hidden;
    /* float  */
    font: 17px/1.7 'Nanum Gothic';
    text-align: justify;

    /* 들여쓰기 ti */
    text-indent: 20px;
    /* 영문이 밑으로 내려가면서 글자들이 훨씬더 멀어지는 느낌을 받음 이것을 해결하기 위해
    아래코드를 입력함 이러면 괞찮아짐 */
    word-break: break-all;

}

/* 블록인용 박스내 이미지 */
.bquote img {
    /* 이미지 옆에 왼쪽에 글자는 오른쪽에 흘러가게 설정 */
    float: left;
    /* 
        float 속성은 
        -   인라인요소에서 사용하면 
        선택된 요소의 위치를 잡고 
        선택된 위츼의 왼쪽이나 오른쪽으로 
        다른 컨텐츠가 흘러 가게 한다
        -특히 이미지에서 글자를 오른쪽이나 왼쪽으로 흘러 가게 함
        -기본적으로 이미지 하단에 
        한줄만 글자가 흘러가게 되어있음!
        (블록애소 float은 별도로 다룸!)


        -> 값에따라 
        left - 나는 왼쪽 다른건 오른쪽흘러가게함

        right - 나는 오른쪽 다른건 왼쪽 흘러가게함
        (인라인 요소를 오른쪽 끝으로 보낼떄도 사용함!)  
    */
    border-radius: 105px;
    margin-right: 23px;
}

/* 주해박스 */
/* .desc 앞에 .main부모를 쓴이유?
기존세팅 .main article에서 설정한 값이 우선하기 때문에 이것보디 우선하도록 상위 붐부모를 씀! */
.main .desc {
    /* 보더 하단 bdb */
    border-bottom: 5px double #1f0404;
    /* 패딘하단 pb */
    padding-bottom: 40px;
    /* 마진하단 mb */
    margin-bottom: 20px;
}



/* 주해박스 small 요소 */
.desc small {
    /* 전체 패딘적용으해 블록박스로 변경 */
    display: block;
    /* 패딩 p - 위아래 양쪽 */
    padding: 0 20px;
}

/* 오늘의 작품 & 느낌 */
.work {
    /* 글자중앙정렬 */
    text-align: center;
    /* 배경색 bgc */
    background-color: lightblue;
}

/* 어늘의 작품 cite 요소 */
.work cite {
    font-style: normal;
    font-weight: bold;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 20px;
    color: darkblue;
}

/* 메인컨텐츠 아래 a요소
주의사할 - 글자색, 밑줄은 반드시 a요소에서 처리할것! */

.main a {
    /* 글자색 c */
    color: #222;
    /* 글자데코 tdn 밑줄없앰 */
    text-decoration: none;
    /* 글자크기 fz  */
    font-size: 17px;
    /* 글자체 ff*/
    font-family: "Nanum Gothic";
    /* 줄간격 lh */
    line-height: 2.5;
    /* 자간 ls */
    letter-spacing: -1px;
    font-weight: normal;


}

/* a요소 마우스 오버시 */
/* 가상클래스 :hover */
.main a:hover {
    /* 글자색 */
    color: skyblue;
    /* 텍스트 그림자 ts */
    text-shadow: 2px 2px 2px yellowgreen;
    /* text-shadow: x축 y축 경계흐림 색#000; */
}

/* ul,ol 블릿,숫자 타입변경 */
.main ul {
    /* 리스트 타입 lst */
    list-style-type: square;
    /* square 사각형, disc 원형, circle 속이 비어있는 원 */

}

.main ol {
    list-style-type: upper-roman;
    /* upper-roman 로마자 대문자 */
    /* 순서를 표시하는 종류가 많다 */
    font-weight: bold;
}

/* /* li 순서별글자색 변경하기 */
.main ul li:first-child a {
    color: blue;
}

.main ul li:nth-child(2) a {
    color: red;
}
.main ul li:nth-child(3) a {
    color: rgb(95, 143, 17);
}

.main ul li:last-child a {
    color: yellow;
}

/* 분야별 뉴스 dt */
.secnews dt {
    font-family: 'Black And White Picture', sans-serif;
    margin-top: 30px;
    padding: 5px;
    font-size: 22px;
    text-shadow: 2px 2px 2px #222;

    /* 한줄에 오고 딪인은 block처럼 적용 */
    display: inline-block;

    border: 3px double rgb(20, 80, 133);
    /* 둥근 모서리 - 50% 설정시 원 */
    border-radius:  50%;
    
}
/* dt순서별 글자색 변경 */
.secnews dt:first-of-type{
    color: orange;
}
.secnews dt:nth-of-type{
    color: rgb(15, 36, 87);
}
.secnews dt:last-of-type{
    color: rgb(97, 14, 43);
}

/* 
    [   자식요소 순번 선택하기  ]
    
    ->태그가 한종류일떄
    :first-child 첫번째 자식요소
    :nth-child(n) n번째 자식요소 (n은 1부터)
    :last-child 마지막 자식요소


    ->태그가 여러종류일떄
    :first-of-type 첫번째 자식요소
    :nth-of-type (n) n번째 자식요소 (n은 1부터)
    :last-of-type 마지막 자식요소


*/

/* 사진뉴스 박스 */
.pnews0 table{
    /* 마영오 - 블록요소 테이블 중앙 정렬 */
    margin: 0 auto;
}

/* 첫번째 td - 숫자부분 */
.pnews0 td:first-child{
    width: 40px;
    height: 80px;
    background-color: rgb(0, 217, 255);
    text-align: center;

}

/* 두번쨰 td - 뉴스제목링크 */
.pnews0 td:nth-child(2){
    background: rgb(227, 211, 233);
    padding-right: 135px;
    padding-left: 51px;
}

/* 사진뉴스 이미지 */
.pnews0 img{
    /* 가로크기 w */
    /* 이미지 및 박스 크기를 w h */
    width: 151px;
    height: 103px;
    vertical-align: middle;
}
.pnews0 table{
    /* 떨어져있는 칸사이를 붙여준다 */
    border-collapse: collapse;

    border-spacing: 7px;
}