@charset "utf-8";
/* info Pj 서브페이지 css - sub.css/

/* 공통 클래스 불러오기 */
/* 
    import 로 파일 합치기 
    외부 css 파일에서 다른 외부 css 파일을 
    import 방싯으로 불러올때 장점은?
    html 파일에서 link 요소로 호출할 경우 
    http request(웹요청)이 많아져서 
    페이지 랜더링 속도가 더뎌진다!
    따라서 이방식을 쓰면 한번에 여러 외부 css 를
    불러올수 있어서 속도에 유리하다!
*/
/* @import url(파일주소); */
@import url(common.css);

/* 메인영역 박스 */
.main{
    /* 패딩 p 15 */
    padding: 15px;
}

/* 2-1. 언론사로고 */
.prlogo img{
    height: 32px;
}
/* 2-2. 기사제목 */
.atit{
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자체 */
    font-family: "굴림","궁서",sans-serif;
    /* 자간 ls */
    letter-spacing: -2px;
    /* 단어사이 간격 ws */
    word-spacing: -1px;
    /* 줄바꿈 방지 whs */
    /* white-space: nowrap; */
    /* 언제 쓰나> 조금차이로 줄바꿈 되는 경우 안되게 할떄 사용함
    기본 박스는 모두 wrap박스이다.*/
    

}

/* 2-3. 기사사진(+사진설명) */
.afig{
    /* 마진 0 */
    margin: 15px 0;
    /* 마진 위아래 양쪽 */
    /* 컨텐츠 중앙정렬 tac */
    text-align: center;
    
} 
/* 기사 이미지 */
.afig img{
    /* 최대 가로크기 maw100p */
    max-width: 100%;
    /* 이미지에 이설정을 하면 
    박스가 이미지보다 작아질떄
    이미지가 박스크기 맞게 작아짐 */

}
/* 2-4. 기사내용 */

/* 2-5. 기자정보 */
/* 2-6. 기사원문 */
