@charset "utf-8";
/* 음원사이트 메인페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 공사중 표시 */
body * {
    outline: 3px dotted red;
    color: #fff;
}

/* 배경색 */
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.122);
}

#myvid {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -10;
    object-fit: cover;
    filter: brightness(50%);
}

/* 상당 박효신 문구 */
.tit {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.774); */
    height: 65px;
}

/* 음소거버튼 */
.nosound {
    position: absolute;
    padding: 10px;
    margin: 10px;
    right: 0;
    background-color: none;
    border: none;
    display: block;
}

/* GNB메뉴 */
.gnb {
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgba(0, 0, 0, 0.774); */
}

/* 직계 gnb 메뉴들 크기및 위치 조정 값 */
.ganb li {
    margin: 0 20px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;

}

/* GNB안박스 */
.ganb {
    border-radius: 5px 0 0 5px;
    /* background-color: #ddd; */
    position: absolute;
    display: flex;
    right: 0;
    outline: 3px solid black;
    width: 85vw;
    justify-content: flex-end;
    margin: 0 auto;

}

/* 메인 부분 */
.main {
    position: absolute;
    background-color: #fff;
    width: 85vw;
    height: 90vh;
    top: 130px;
    right: 0px;
    padding: 10px;
    outline: 2px solid black;
    border-radius: 5px 0 0 0;
    margin: 0 auto;
}

/* GNB 요소들 모음 */
.ganb a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

/* 좌측 문구 디자인 */
.Lside {
    position: absolute;
    width: 100px;
    height: 1000px;
    overflow: hidden;
    font-size: 3rem;
    /* background-color: lightgreen; */
    text-align: right;
    padding-top: 70px;
}