@charset "utf-8";
/* 도깨비 PJ 서브 페이지 CSS - login.css */
/* 메인 페이지에만 적용되는 CSS */

/* 외부 CSS합치기 */
@import url(reset.css);
@import url(core.css);
@import url(commom.css);

/* 공사중 표시 */
body * {
    /* outline: 2px dashed gray; */
}
#cont{
    background-color: rgba(128, 128, 128, 0.238);
}

.cont{
    /* 최소 높이설정 : 내용이 넟칠경우 자동 auto */
    min-height: 600px;
}
/* 타이틀 */
.stot{
    font-size: 4rem;
    text-align: center;
    padding: 40px 0 20px;
    font-weight: normal;
}
/* 2. 컨텐츠박스 */
.scont{
    position: relative;
    max-width: 700px;
    min-height: 275px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    border: 5px solid #000;
    padding: 60px 15px;
    box-sizing: border-box;
}

/* 입력창 공통 라벨 */
.minput label{
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    line-height: 3.6rem;
    

}
.minput input{
    width: 320px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.7rem;
    padding-left: 15px;
    box-sizing: border-box;
    color: #000;
}
/* 비밀번호박스 */
.scont div:nth-child(2){
    margin-top: 20px;
}

/* 포커스 아웃라인 제거 모든브라우저에 기본 포커스 아웃라니 셋팅됨 */
input:focus{
    outline: none;
}
.btnbx{
    position: absolute;
    right: 60px;
    top: 60px;
}
#sbtn{
    width: 113px;
    height: 92px;
    border: 1px solid #000;
    backdrop-filter: 5px;
    /* 배경그라데이션 */
    background-image: linear-gradient(to bottom, #ddd, #555);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px  #555;
    border-radius: 20%;
}
.addbx{
    margin-top: 50px;
    text-align: center;
    font-size: 1.6rem;

}
/* 체크박스 라벨 */
.addbx input{
    vertical-align: -10px;
}
/* 기타링크 구분선*/
.addbx span+span::before{
    content: '|';
    margin: 0 15px;


}